@define-color background-color {{colors.on_primary.default.hex}};
@define-color border-color {{colors.outline.default.hex}};
@define-color label {{colors.on_surface.default.hex}};
@define-color image {{colors.on_surface.default.hex}};
@define-color progress {{colors.primary.default.hex}};
