@import "themes/prabakaran/colors.css";

@define-color background @on_primary;
@define-color foreground @on_background;
@define-color hover-bg alpha(@background, 0.7);
@define-color accent @on_primary_container;
@define-color warning #e5c07b;
@define-color critical #e06c75;
@define-color inactive #6a7a71;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
  margin-top: 10px;
}

/* --- General Module Styles --- */
#cpu,
#memory,
#temperature,
#bluetooth,
#network,
#pulseaudio,
#battery,
#custom-arch,
#custom-netusage,
#clock,
#tray,
#custom-expand-icon,
#custom-battery_alert {
  background-color: @background;
  color: @foreground;
  padding: 0 10px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

#cpu,
#memory,
#temperature {
  padding: 0 6px;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-arch:hover,
#custom-netusage:hover,
#custom-expand-icon:hover {
  background-color: @hover-bg;
}

/* --- Specific Module Styles & Overrides --- */
#window {
  margin: 5px 0;
  background: @background;
  padding: 0 10px;
  border-radius: 16px;
  margin-left: 10px;
  color: @foreground;
}

window#waybar.empty #window {
  background: transparent;
  padding: 0;
  margin-left: 0;
}

#custom-expand-icon {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-left: 10px;
  padding-left: 10px;
}

#battery {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-right: 10px;
}

#custom-arch {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  /* margin-right: 12px; */
  padding-right: 12px;
}

#clock {
  background-color: @accent;
  color: @on_primary;
  border-radius: 16px;
  margin-right: 10px;
  padding-right: 10px;
}

#clock:hover {
  background-color: @background;
  color: @foreground;
}

#workspaces {
  background-color: @background;
  color: @foreground;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 0 3px;
}

#workspaces button.empty {
  opacity: 0.4;
}

#workspaces button {
  color: @inactive;
  background: transparent;
  padding: 0 6px;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: alpha(#b9f6ca, 0.2);
}

#workspaces button.active {
  color: @accent;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}
/* --- Module States --- */
#network.disconnected,
#bluetooth.disabled,
#pulseaudio.muted {
  color: @critical;
}

#battery.warning:not(.charging) {
  color: @warning;
}

#battery.charging,
#battery.plugged {
  color: @accent;
}

#bluetooth {
  /* border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; */
}

@keyframes blink {
  to {
    background-color: @critical;
    color: @base-bg;
  }
}

#battery.critical:not(.charging) {
  background-color: @critical;
  color: @base-bg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* --- Tooltip --- */
tooltip {
  background-color: @background;
  border: 2px solid @accent;
  border-radius: 16px;
  padding: 8px 12px;
}

tooltip label {
  color: @foreground;
}
